.review {

    padding-bottom: 38px;
    &-wrapper {
        display: flex;
        flex-direction: row;
        margin-top: 60px;
        &__img {
            width: 169px;
            height: 169px;
            margin-right: 60px;
        }
        &__name {
            font-weight: 700;
            font-size: 18px;
            line-height: 100%;
            color: #0d0d0d;
        }
        &__marathon {
            
            font-weight: 500;
            font-size: 14px;
            color: #646464;
        }
        &__text {
            margin-top: 5px;
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;
            color: #0d0d0d;
        }
    }
}